node_modules
.next
dist
build
.git
.gitignore
*.md
LICENSE
.turbo
.npm
package-lock.json
infra/terraform
.github
tests
docs
screenshots
*.ps1
*.json
!package.json
!apps/**/package.json
!packages/**/package.json
